<mat-toolbar color="primary">
    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
        <div>
            <span>Eventos Científicos</span>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container fxLayout="row" class="nav-container" autosize color="primary">
    <mat-sidenav #sidenav mode="side" opened="true" fxFlex="15" fxFlexAlign="start">
        <mat-nav-list class="nav-list-items" fxLayout="column">
            <mat-list-item [routerLink]="[ '/volumes' ]">
                <label><b>Página Principal</b></label>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex fxFlexFill>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>