.nav-container {
    position: absolute;
    top: 60px;
    bottom: 1px;
    left: 0;
    right: 0;
}

.nav-list-items {
    font-size: 18px;
    line-height: 1.5;
    width: 160px;
    padding-top: 0;
}

.main-container {
    display: block;
    padding: 2.5%;
    min-height: 97%;
}
